# Web Framework
fastapi==0.115.12
uvicorn==0.34.3
gunicorn==22.0.0

# Database
SQLAlchemy==2.0.41
sqlmodel==0.0.24
psycopg2-binary==2.9.10

# Environment & Pydantic
python-dotenv==1.1.0
pydantic==2.11.7
